{% extends "base.html" %}
{% block title %}Feed{% endblock %}
{% block content %}
    <h1 class="title">{{ feed['title']}}</h1> 
    <h2 class="subtitle">
      {{ feed['description']}}
    </h2>
    <p>Share: <input type="text" value="{{ request.base_url }}"/></p>
    <br>
    {% if session.user_id == feed['user_id'] %}
    <br>
    <form action="{{ secret }}" method="POST">
      <input type="hidden" name="action" value="delete" />
      <button type="submit"><i class="far fa-trash-alt"></i> Delete feed & images</button>
    </form>
    {% endif %}
    <div style="max-width: 800px;" class="my-5">

    {% for item in items %}
    <div class="card" id="i-{{ item['id'] }}">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/{{ item['path'] }}" alt="{{ item['description'] }}">
          </figure>
        </div>
        <div class="card-content">
          
          <div class="content">
            {% if session.user_id and false %}
            <form action="{{ secret }}/{{ item['id'] }}" method="POST">
              <input type="hidden" name="action" value="vote" />
              <button type="submit"><i class="far fa-heart"></i></button>
            </form>
            {% endif %}

            {{ item['description'] }}
            <br>
            <time>{{ item['created_at'].strftime('%d.%m.%Y %H:%M') }}</time>

            {% if session.user_id == item['user_id'] or session.user_id == feed['user_id'] %}
            <br>
            <form action="{{ secret }}/{{ item['id'] }}" method="POST">
              <input type="hidden" name="action" value="delete" />
              <button type="submit"><i class="far fa-trash-alt"></i></button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    <hr>
    {% endfor %}

    </div>
    {% if session.user_id  %}<a href="{{ secret }}/new" id="new-item" class="button is-link pulse">Create new item</a>{% endif %}

{% endblock %}

