{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
  <h1>Vuo - Simple image feed sharing platform</h1>
  <br>
  {% if session.user_id %}


    {% if feed_list|length > 0 %}
      <h2>Your feeds</h2>
      <ul>
        {% for feed in feed_list %}
          <li><a href="/feed/{{ feed['secret'] }}">{{ feed['title'] }} feed</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <a class="button is-primary" href="/feed">
        Create new feed!
      </a>
    {% endif %}
  {% else %}
  <p>
    Vuo is made for sharing your photos & snippets to your selected audience. <br>
    Users create a feed, share their secret url and anybody can upload their photos to the stream. <br>
    Awesome place to share your event photos with all the guests to make sure all memories are kept safe :)
  </p>
  <br>
  <p>
    Loggin in is not mandatory! <br>Most feeds are visible without account (if you know the secret url :)). Account is needed for upvoting & uploading.<br>
    Create your own feed or access friends feed with their secret url.
  </p>
  <br>
  <p>
    Have phun!
  </p>    
  {% endif %}
{% endblock %}