{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
  <h1>Welcome to Vuo!</h1>
  <br>
  {% if session.user_id %}


    {% if feed_list|length > 0 %}
      <h2>Your feeds</h2>
      <ul>
        {% for feed in feed_list %}
          <li><a href="/feed/{{ feed['secret'] }}">{{ feed['title'] }} feed</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <a class="button is-primary" href="/feed">
        Create new feed!
      </a>
    {% endif %}
  {% else %}
  <p>
    Vuo is super simple image feed sharing platform.<br>
    Create your own feed or access friends feed with their secret url.<br>
    Loggin in is not mandatory! Most feeds are visible without account (if you know the secret url :)). 
  </p>
  <br>
  <p>
    Start by creating an account and proceed to share your own feed of images!<br>
    Account is needed for upvoting & uploading.
  </p>
  <br>
  <p>
    Have phun!
  </p>    
  {% endif %}
{% endblock %}