{% extends "base.html" %}
{% block title %}New feed{% endblock %}
{% block content %}
    <h1 class="subtitle is-3">New feed</h1>
    <p class="subtitle is-5">
      Here you can create your feed. <br />
      Secret will determine your url (/feed/<strong>your-secret</strong>)
    </p>
    <form action="/feed" method="post">

        <div class="field">
            <label class="label">Secret</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="text" name="secret" value="{{secret}}">
              <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
              </span>
            </div>
          </div>
          
          <div class="field">
            <label class="label">Title of the feed</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="text" name="title" value="{{title}}">
              <span class="icon is-small is-left">
                <i class="fas fa-exclamation"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <textarea class="textarea" name="description">{{description}}</textarea>
            </div>
          </div>

          <div class="control">
            <button type="submit" class="button is-link">Create new feed</button>
          </div>
    </form>
    </form>
{% endblock %}

